### Data Manipulation 


#### About Dataset
SFO Public Department, referred to as SFO, has captured the salary data of all its employees for the years 2011-2014. Now in 2018, the organization is facing some financial crisis. As a first step, HR wants to rationalize employee cost to save payroll budget. You have to perform data manipulation and answer the questions below:


#### Data Manipulation Tasks:
1. How much total salary cost has increased from year 2011 to 2014?
2. Who was the top-earning employee across all the years?
Objective: Perform data manipulation and visualization techniques.

In [1]:
# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
# Load the dataset
df = pd.read_csv("../Machine Learning/Salaries.csv", delimiter= ',', index_col = 0)

# Shape of Dataset - Dimensions of dataset
print(df.shape)

(148648, 12)

In [26]:
# Peek at the data
print(df.head(5))

# Get information about the dataset
print(df.info)

         EmployeeName                                        JobTitle  \
Id
1      NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
2        GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
3      ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
4   CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
5     PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

      BasePay  OvertimePay   OtherPay  Benefits   TotalPay  TotalPayBenefits  \
Id
1   167411.18         0.00  400184.25       NaN  567595.43         567595.43
2   155966.02    245131.88  137811.38       NaN  538909.28         538909.28
3   212739.13    106088.18   16452.60       NaN  335279.91         335279.91
4    77916.00     56120.71  198306.90       NaN  332343.61         332343.61
5   134401.60      9737.00  182234.59       NaN  326373.19         326373.19

    Year  Notes         Agency Status
Id
1   2011    NaN  San Francisco    NaN
2   2011    NaN  San Francisco    NaN
3   2011    NaN  San Francisco    NaN
4   2011    NaN  San Francisco    NaN
5   2011    NaN  San Francisco    NaN
<bound method DataFrame.info of              EmployeeName                                        JobTitle  \
Id
1          NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
2            GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
3          ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
4       CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
5         PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
...                   ...                                             ...
148646   Carolyn A Wilson                       Human Services Technician
148648     Joann Anderson                     Communications Dispatcher 2
148649        Leon Walker                                       Custodian
148650      Roy I Tillery                                       Custodian
148654          Joe Lopez                      Counselor, Log Cabin Ranch

          BasePay  OvertimePay   OtherPay  Benefits   TotalPay  \
Id
1       167411.18         0.00  400184.25       NaN  567595.43
2       155966.02    245131.88  137811.38       NaN  538909.28
3       212739.13    106088.18   16452.60       NaN  335279.91
4        77916.00     56120.71  198306.90       NaN  332343.61
5       134401.60      9737.00  182234.59       NaN  326373.19
...           ...          ...        ...       ...        ...
148646       0.00         0.00       0.00       0.0       0.00
148648       0.00         0.00       0.00       0.0       0.00
148649       0.00         0.00       0.00       0.0       0.00
148650       0.00         0.00       0.00       0.0       0.00
148654       0.00         0.00    -618.13       0.0    -618.13

        TotalPayBenefits  Year  Notes         Agency Status
Id
1              567595.43  2011    NaN  San Francisco    NaN
2              538909.28  2011    NaN  San Francisco    NaN
3              335279.91  2011    NaN  San Francisco    NaN
4              332343.61  2011    NaN  San Francisco    NaN
5              326373.19  2011    NaN  San Francisco    NaN
...                  ...   ...    ...            ...    ...
148646              0.00  2014    NaN  San Francisco     PT
148648              0.00  2014    NaN  San Francisco     PT
148649              0.00  2014    NaN  San Francisco     PT
148650              0.00  2014    NaN  San Francisco     PT
148654           -618.13  2014    NaN  San Francisco     PT

[148648 rows x 12 columns]>

In [28]:
# Get statistical summary of dataset
print(df.describe())

             BasePay    OvertimePay       OtherPay       Benefits  \
count  148043.000000  148648.000000  148648.000000  112490.000000
mean    66325.398119    5065.821161    3648.761721   25007.777439
std     42764.898947   11454.266982    8056.655841   15402.235424
min      -166.010000      -0.010000   -7058.590000     -33.890000
25%     33587.350000       0.000000       0.000000   11535.192500
50%     65007.450000       0.000000     811.205000   28628.365000
75%     94691.050000    4657.597500    4236.035000   35566.790000
max    319275.010000  245131.880000  400184.250000   96570.660000

            TotalPay  TotalPayBenefits           Year  Notes
count  148648.000000     148648.000000  148648.000000    0.0
mean    74770.035453      93694.776345    2012.522617    NaN
std     50516.440633      62792.743250       1.117526    NaN
min      -618.130000       -618.130000    2011.000000    NaN
25%     36169.370000      44072.062500    2012.000000    NaN
50%     71427.130000      92406.020000    2013.000000    NaN
75%    105840.920000     132876.997500    2014.000000    NaN
max    567595.430000     567595.430000    2014.000000    NaN

In [51]:
# Computing Total Pay Benefits in each year 

year = df.groupby('Year').sum()['TotalPayBenefits']
print(year)

Year
2011    2.594113e+09
2012    3.696790e+09
2013    3.814772e+09
2014    3.821866e+09
Name: TotalPayBenefits, dtype: float64

In [34]:
# Computing mean salary cost per year
mean_year = df.groupby('Year').mean()['TotalPayBenefits']
print(mean_year)

Year
2011     71743.819645
2012    100551.886807
2013    101440.519714
2014    100261.438668
Name: TotalPayBenefits, dtype: float64

In [39]:
# Calculating profit difference/year for mean total salary
profit_diff = []
for i in range(0,3):
    i += 1
    diff = mean_year.values[i] - mean_year.values[i-1]
    profit_diff.append(diff)
print("Profit Difference between 2012 - 2014 by year: ", profit_diff)
print("Total profit difference between 2012-2014:", mean_year.values.mean())

Profit Difference between 2012 - 2014 by year:  [28808.06716185191, 888.6329073952074, -1179.0810457599146]
Total profit difference between 2012-2014: 93499.41620853971

In [50]:
# Calculating job profile with highest salary for year 2014

# Slicing the dataset into entries for year 2014
year_2014 = df[df['Year'] == 2014]

# calculating the mean values by job titles
job_title = year_2014.groupby('JobTitle').mean()['TotalPayBenefits']

# calculating  top 5 highest salary based on total pay for each job title
highest_salary= job_title.sort_values(ascending= False).head(5)
print(highest_salary)

print("\nThe job title with highest mean salary in year 2014: " , highest_salary.index[0])

JobTitle
Chief Investment Officer       436224.36
Chief of Police                418019.22
Chief, Fire Department         417435.10
Gen Mgr, Public Trnsp Dept     379918.72
Dep Chf of Dept (Fire Dept)    368006.35
Name: TotalPayBenefits, dtype: float64

The job title with highest mean salary in year 2014:  Chief Investment Officer

In [54]:
# Calculating the money spent on OvertimePay in year 2014

# Create dataset to include entries for year 2014 only
year_2014 = df[df['Year'] == 2014]

# Find total sum of OvertimePay 

overtime_sum = year_2014['OvertimePay'].sum()
print("The money spent on OverTimePay in 2014: ", overtime_sum)

The money spent on OverTimePay in 2014:  205918599.26999998

In [60]:
# Top 5 common jobs in year 2014 and their costs to SFO

# Create dataset to include entries for year 2014 only
year_2014 = df[df['Year'] == 2014]

common_jobs = year_2014['JobTitle'].value_counts()

print("Top 5 common jobs in 2014 are:\n \n", common_jobs.head(5))

Top 5 common jobs in 2014 are:

 Transit Operator                2479
Special Nurse                   1478
Registered Nurse                1234
Public Svc Aide-Public Works     916
Firefighter                      815
Name: JobTitle, dtype: int64

In [61]:
# Top 5 highest earning employees across all years

top_earning = df.groupby('EmployeeName').sum()['TotalPayBenefits']
print(" Top 5 highest earning employees across all years: \n", top_earning.sort_values(ascending= False).head(5))

 Top 5 highest earning employees across all years:
 EmployeeName
Kevin Lee       1778487.17
Steven Lee      1706550.76
William Wong    1459954.17
Stanley Lee     1457279.68
Richard Lee     1268668.84
Name: TotalPayBenefits, dtype: float64